* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    padding-top: 300px;
    border: 20px;
    background-color: rgb(18, 19, 19);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.container {
    background: linear-gradient(to bottom left, #66ffcc 0%, #cc66ff 100%);
    padding: 10px 20px;
    align-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cer {
    position: relative;
    background-image: url("c1-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
